<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task</title>
    </head>
    <body>
        <h1>Add Task</h1>

        <form action="{% url 'adicionar_task' %}" method="post">{% csrf_token %}
            <input type="text" name="input-task">
            <button>Adicionar</button>
        </form>
        <br>
        <br>
        <ul>
            {% for task in tasks %}
                <li>{{ task }}</li>
            {% endfor %}
        </ul>
    </body>
</html>